<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="X_YUG.XYug_OurWorkSpace"/>
      <class name="X_YUG.Software_Development"/>
      <class name="X_YUG.Create_WorkShop_Application"/>
      <class name="X_YUG.X_Yug_UIUxPage"/>
      <class name="X_YUG.X_Yug_Devops_as_Service"/>
      <class name="X_YUG.X_YugMetavrse"/>
      <class name="X_YUG.X_Yug_AboutPage"/>
      <class name="X_YUG.X_Yug_HomePage"/>
      <class name="X_YUG.X_Yug_VFX_VideoEditing"/>
      <class name="X_YUG.Mobile_Application_Development"/>
      <class name="X_YUG.X_Yug_Digital_Marketing"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

